{% extends 'base.html' %}
{% load static %}

{% block content %}




<form action="add_pokemon" method="POST">
  {% csrf_token %}
  <div class = "pokemon_css">
    <h2 style="color:#000066; text-align:center"> Add Pokemon </h2>
      {%for message in messages%}
      <h2 style="color:#ff0000"><font size="-1">{{message}}</font>
     </h2>
     {% endfor %}
      </br>

    <label for="api"><b>API</b></label>
      <br>
    <input type="text" placeholder="Enter API" name="api" required>

    </br>
    </br>


    <button type="submit" name="create">Add Pokemons</button>



  </div>

</form>
{% endblock %}